<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" parallel="methods" thread-count="2">
    <test verbose="2" name="Example Tests">
        <classes>
            <class name="ExampleParallelTest"></class>
        </classes>
    </test>

</suite>