<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">


    <test verbose="2" name="Listeners">
        <classes>
            <class name="Listeners.ExampleTest"></class>
        </classes>
    </test>

    <listeners>
        <listener class-name="Listeners.Listener"></listener>
    </listeners>
</suite>